*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

body{
    background: linear-gradient(180deg, rgba(17,38,38,1) 58%, rgba(57,102,112,1) 100%);
}

header{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    display: flex;
    min-width: 300px;
    padding: 10px;
    border-bottom: 0.5px solid white;
    align-items: center;
    justify-content: space-around;
}

header p{
    font-family: 'Courier New', Courier, monospace;
}


#foto{
    margin-right: 5px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    
}

nav{
    display: flex;
    flex-direction: column;
}

nav > a{
    font-weight: bold;
    padding: 10px;
    margin: 2px;
    text-align: center;
    text-decoration: none;
    position: relative;
}

nav > a::after{
    content: " ";
    width: 0%;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

nav > a:hover::after{
    width: 100%;
}

main{
    width: 100vw;
    height: 70vh;
}

#tituloProjetos{
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: -50px;
    font-size: 5vw;
}

.projetos div{
    height: 70vh;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.projetos a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Bebas Neue', sans-serif;
    margin: 20px;
    padding: 20px;
    width: 12vw;
    height: 20vh;
    border: 2px solid ;
    border-radius: 10px;
    transition: .40s;
    cursor:pointer;
}


.projetos div:hover > :not(:hover){
    opacity: 0.2;
}

.projetos div a:hover{
    box-shadow: 0 0 35px white;
    transform: scale(1.1);
}