*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header{
    display: flex;
    min-width: 300px;
    padding: 10px;
    border-bottom: 0.5px solid white;
    align-items: center;
    justify-content: space-around;
}


#foto{
    margin-right: 5px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    
}

nav{
    display: flex;
    flex-direction: column;
}

nav > a{
    font-weight: bold;
    padding: 10px;
    margin: 2px;
    text-align: center;
    text-decoration: none;
    position: relative;
}

nav > a::after{
    content: " ";
    width: 0%;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

nav > a:hover::after{
    width: 100%;
}

body{
    
    background: linear-gradient(45deg, #000000, #3D0000, #950101, #dd0000);
    background-size: 300% 300%;
    /*background: linear-gradient(45deg, #443737, #272121, #FF0000, #FF4D00);*/
    /*background: linear-gradient(45deg, #212121, #323232, #0D7377, #14FFEC);*/
}

main{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

p{
    font-weight: bold;
    line-height: 23px;
}

#sobre{
    margin-bottom: 80px;
}

#interesse{
    margin: auto;
    display: flex;
    flex-direction: row;
}

ul{
    padding: auto;
    list-style-position: inside;
    font-weight: bold;
}

ul > li{
    margin: 6%;
}

article{
    padding: 10px;
    margin: 15px;
    max-width: 700px;
    min-height: 400px;
    border-radius: 10px;
    border: 2px solid white;
}

h2{
    margin-bottom: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    text-align: center;
}

@keyframes colors{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.carrosel{
    width: 600px;
    height: 300px;
    outline: 3px solid black; 
    overflow: hidden;
    margin: 50px auto;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.7);
}

.carrosel ul{
    display: flex;
    justify-content: center;
    list-style: none;
    width: 300px;
    height: 100px;
    
}

.carrosel li{
    position: relative;
    animation: slide 15s infinite;
}

@keyframes slide {
    0%{ left: 200px;}
    20%{left: -100px;}

    30%{left: -450px;}
    50%{left: -410px;}

    60%{left: 750px;}
    80%{left: 700px;}

    100%{left:400px}
}

.carrosel ul li img{
    width: 400px;
    height: 250px;
}